### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
# Read School and Student Data File and store into Pandas DataFrames

csv_path_students = "Resources/students_complete.csv"
students_df = pd.read_csv(csv_path_students)
students_df

csv_path_schools = "Resources/schools_complete.csv"
schools_df = pd.read_csv(csv_path_schools)
schools_df


# Combine the data into a single dataset.  
school_complete_df = pd.merge(students_df, schools_df, how="left", on=["school_name", "school_name"])
school_complete_df

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [2]:
#total number of students
total_schools = len(schools_df)
total_schools

15

In [3]:
#total number of students
total_students = len(students_df)
total_students

39170

In [4]:
#find total budget
total_budget = school_complete_df["budget"].sum()
total_budget

82932329558

In [5]:
#average math and reading scores
average_math_score = school_complete_df["math_score"].mean()
average_math_score

78.98537145774827

In [6]:
average_reading_score = school_complete_df["reading_score"].mean()
average_reading_score

81.87784018381414

In [7]:
#calculate percent passing math
percent_passing_math = (len(school_complete_df[school_complete_df["math_score"] > 70]) / len(school_complete_df))*100
percent_passing_math

72.39213683941792

In [8]:
#calculate percent passing reading
percent_passing_reading = (len(school_complete_df[school_complete_df["reading_score"] > 70]) / len(school_complete_df))*100
percent_passing_reading

82.97166198621395

In [9]:
#percent who passed both
percent_passing_both = (len(school_complete_df[(school_complete_df["math_score"] > 70) & (school_complete_df["reading_score"] > 70)]) / len(school_complete_df))*100
percent_passing_both

60.801633903497574

In [10]:
district_summary_df = {
    ["Total Schools": 15],
    ["Total Number of Students": 39170],
    ["Total Budget":82932329558],
    ["Average Math Score": 78.98537145774827],
    ["Average Reading Score": 81.87784018381414],
    ["Percent Passing Math": 72.39213683941792],
    ["Percent Passing Reading": 82.97166198621395],
    ["Percent Passing Math and Reading": 60.801633903497574],
    
}

district_summary_df
pd.DataFrame(district_summary_df)

SyntaxError: invalid syntax (<ipython-input-10-cebe2da70439>, line 2)

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [11]:
school_complete_df.groupby("school_name").count()

,Student ID,student_name,gender,grade,reading_score,math_score,School ID,type,size,budget
school_name,,,,,,,,,,
Bailey High School,4976,4976,4976,4976,4976,4976,4976,4976,4976,4976
Cabrera High School,1858,1858,1858,1858,1858,1858,1858,1858,1858,1858
Figueroa High School,2949,2949,2949,2949,2949,2949,2949,2949,2949,2949
Ford High School,2739,2739,2739,2739,2739,2739,2739,2739,2739,2739
Griffin High School,1468,1468,1468,1468,1468,1468,1468,1468,1468,1468
Hernandez High School,4635,4635,4635,4635,4635,4635,4635,4635,4635,4635
Holden High School,427,427,427,427,427,427,427,427,427,427
Huang High School,2917,2917,2917,2917,2917,2917,2917,2917,2917,2917
Johnson High School,4761,4761,4761,4761,4761,4761,4761,4761,4761,4761
Pena High School,962,962,962,962,962,962,962,962,962,962
Rodriguez High School,3999,3999,3999,3999,3999,3999,3999,3999,3999,3999
Shelton High School,1761,1761,1761,1761,1761,1761,1761,1761,1761,1761
Thomas High School,1635,1635,1635,1635,1635,1635,1635,1635,1635,1635
Wilson High School,2283,2283,2283,2283,2283,2283,2283,2283,2283,2283
Wright High School,1800,1800,1800,1800,1800,1800,1800,1800,1800,1800

In [12]:
#calculate per student budget
per_student_budget = total_budget/total_students
per_student_budget

2117240.989481746

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type